<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js'></script>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    .chartStyle {
        height: 10vh;
    }
    </style>
</head>
<body>
<div class="container">
<div class="row">
    Title:  {{ video.title }}
</div>
<div class="row">
    Reactions: {{video.reactions.count}}
</div>
<div class="row">
    G-Value: {{video.group}}
</div>
<div class="row">
    Average G-value: {{avg_gval}}
</div>

<div class="row">
    <canvas id="myChart" style="height: 100vh;"></canvas>
</div>
</div>
<script>
var data = {
        labels: [{% for l in labels %}'{{ l }}'{%if not forloop.last%},{%endif%}{% endfor %}],
        datasets: [{
            label: 'G-val',
            data: [{% for i in gval_data %}{{ i }}{%if not forloop.last%},{%endif%}{% endfor %}],
        },{
            label: 'Avg-G-val',
            data: [{% for i in avg_gval_data %}{{ i }}{%if not forloop.last%},{%endif%}{% endfor %}],
        }]
    }


var ctx = new Chart(document.getElementById("myChart").getContext("2d"), {
    type: "line",
    data: data,
});

</script>
</body>
</html>