{% extends 'include/base.html' %}

{% block stylesheet %}
<style>
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 4;
    }
</style>
{% endblock %}

{% block javascript %}
<script>
    var modal = document.getElementById("uploadmodal");
    modal.style.display = "none";
    function openupload(){
        modal.style.display = "block";
    }
    function closeupload(){
        modal.style.display = "none";
    }
    function searchvids(){
        var query = document.getElementById("query").value;
        $.ajax({
          url: "{% url 'home' %}?query="+query,
          success: function (response) {
            document.getElementById("search-result").innerHTML = response['search-result'];
          }
        });
    }
</script>
{% endblock %}

{% block content %}
  <div class="modal" id="uploadmodal">
    <span class="close" onclick="closeupload()">&times;</span>
    <div class="modal-content" id="modalContent">
        <h2>Upload a file here</h2>
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="title" required="True">
              <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
              <div class="col-md-8">
                <input type="file" name="file" id="file" required="True" class="form-control">
              </div>                    
            </div>
            <div class="form-group">                
              <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button class="btn btn-primary">Upload</button>
              </div> 
            </div>
          </form>
    </div>
  </div>
<button onclick="openupload()">Upload</button>
<h2>Home</h2>
<input type="text" name="query" id="query">
<button onclick="searchvids()">Search</button>
<h4>uploaded videos</h4>

<div id="search-result">
{% include "include/video_list.html" %}
</div>


{% endblock %}