{% extends 'include/base.html' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
<script>
    function searchvids(){
        var query = document.getElementById("query").value;
        $.ajax({
          url: "{% url 'home' %}?query="+query,
          success: function (response) {
            document.getElementById("search-result").innerHTML = response['search-result'];
          }
        });
    }
</script>
{% endblock %}

{% block content %}
<h2>Home</h2>
<input type="text" name="query" id="query">
<button onclick="searchvids()">Search</button>
<h4>uploaded videos</h4>

<div id="search-result">
{% include "include/video_list.html" %}
</div>


{% endblock %}